beautifulsoup4==4.6.0
bs4==0.0.1
Flask==1.0.2
gunicorn==19.9.0
html5lib==1.0.1
itsdangerous==0.24
Pillow==6.2.0
python-magic==0.4.15
requests
sentry-sdk[flask]==0.7.2
python-datauri==0.2.5
CairoSVG==2.1.2
python-dotenv
mypy